openapi: 3.0.0
info:
  version: 0.0.1
  title: Swagger Petstore
  license:
    name: MIT
servers:
  - url: https://my-serverless-pet-application.com
paths:
  /health:
    get:
      summary: Health check
      operationId: health
      tags:
        - system
      responses:
        "200":
          description: A health check successful response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
        uri: ${invoke_arn}
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
  /todos:
    get:
      summary: List all todos
      operationId: listTodos
      tags:
        - todos
      responses:
        "200":
          description: A paged array of todos
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todos"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
        uri: ${invoke_arn}
        httpMethod: POST
        type: aws_proxy
components:
  schemas:
    Todo:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        title:
          type: string
        completed:
          type: boolean
    Todos:
      type: array
      maxItems: 100
      items:
        $ref: "#/components/schemas/Todo"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
