AWS_PROFILE=app-deployer
AWS_REGION=ap-southeast-1
ENVIRONMENT=dev
APPLICATION_NAME=sls-template
APP_VERSION=0.0.1
LOG_LEVEL=DEBUG
POWERTOOLS_LOG_LEVEL=DEBUG
POWERTOOLS_SERVICE_NAME=sls-template
TODOS_TABLE_NAME=dev-sls-template-todos
USERS_TABLE_NAME=dev-sls-template-users
API_CORS_ORIGIN=*
ENABLE_TRACING=false
