AWS_PROFILE=app-deployer
AWS_REGION=ap-southeast-1
ENVIRONMENT=dev
APPLICATION_NAME=slstemplate
APP_VERSION=1.0.0
LOG_LEVEL=DEBUG
POWERTOOLS_LOG_LEVEL=DEBUG
POWERTOOLS_SERVICE_NAME=slstemplate
TODOS_TABLE_NAME=dev-slstemplate-todos
USERS_TABLE_NAME=dev-slstemplate-users
API_CORS_ORIGIN=*
ENABLE_TRACING=false
