[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras = ["aws-sdk"], version = "*"}
python-dotenv = "*"

[dev-packages]
pre-commit = {version = "*", index = "pypitunatsinghuaedu"}
pylint = {version = "*", index = "pypitunatsinghuaedu"}
boto3 = "*"
botocore = "*"

[requires]
python_version = "3.9"
