-r ./src/portal/requirements.txt

# The version of pydantic in lambda layer AWSLambdaPowertoolsPythonV2-Arm64:75
pydantic==1.10.17
aws-lambda-powertools
python-dotenv
pre-commit
pylint
boto3
botocore
pytest
coverage
python-dotenv
python-lambda-local
tavern
