-r ./src/portal/requirements.txt

# The version of pydantic in lambda layer AWSLambdaPowertoolsPythonV3-python312
aws-lambda-powertools==3.4.1
boto3
botocore
pydantic==4.12.2
python-dotenv==1.0.1
pre-commit
pylint
pytest
coverage
python-lambda-local
